<div class="row">
	<div class="col-md-12">
		<h2 class="page-title">Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
		<hr/>
	</div>
	<div class="col-md-12">
		<form>
			<div class="form-group">
			    <label class="sr-only" for="person"> Person Name</label>
			    <div class="input-group">
			      <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
			      <input type="text" class="form-control" id="person" placeholder="fullname">
			    </div>
			  </div>
		</form>
	</div>
</div>