<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/lumen.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery-1.11.1.min.js"></script>
	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>
</html>

